<a href="{:url('permissionManagement/addPage')}" class="btn btn-info">添加权限</a>
<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center;">
		<tr>
			<td>ID</td>
			<td>标题</td>
			<td>URL</td>
			<td>更新时间</td>
			<td>创建时间</td>
		</tr>
		{foreach $list as $v}
		<tr>
			<td>{$v.id}</td>
			<td>{$v.title}</td>
			<td>{$v.url}</td>
			{if !$v.update_time}
			<td>-</td>
			{else}
			<td>{$v.update_time|date="Y-m-d H:i:s"}</td>
			{/if}
			<td>{$v.create_time|date="Y-m-d H:i:s"}</td>
		</tr>
		{/foreach}
	</table>
</div>